:root {
  --font-primary-1: "Kaisei HarunoUmi", sans-serif;
  --font-primary-2: "Work Sans", sans-serif;
  --font-primary-3: "Heritage";
  --color-primary-50: #fff8f4;
  --color-primary-100: #f2e8e3;
  --color-primary-200: #e6d1c7;
  --color-primary-300: #d9baab;
  --color-primary-400: #cca38f;
  --color-primary-500: #bf8c73;
  --color-primary-600: #b17253;
  --color-primary-700: #976044;
  --color-primary-800: #7b4e38;
  --color-primary-900: #5f3c2b;
  --color-primary-950: #311f16;
}

@-ms-viewport {
  width: device-width;
}

@keyframes loader {
  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}

@keyframes circleline {
  0%, 100% {
    stroke-dashoffset: 125;
  }
  90% {
    stroke-dashoffset: 0;
  }
}

@keyframes circlelinebg {
  0% {
    stroke-dasharray: 2;
  }
  90% {
    stroke-dasharray: 4;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 0;
    opacity: 0;
  }
}

@keyframes scrolldown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  border-color: transparent;
}

html, body {
  overflow-x: hidden;
}

.snap-y, .snap-x {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.snap-y::-webkit-scrollbar, .snap-x::-webkit-scrollbar {
  display: none;
}

.loader {
  animation: loader 300ms both 600ms;
}

.form-control {
  outline: none;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: var(--color-primary-900);
}

.link:hover {
  font-weight: 500;
}

.link:hover svg {
  margin-left: -.25rem;
}

label.error {
  color: red;
}

.item:hover {
  box-shadow: none;
}

.item:hover figure img {
  transform: scale(1.1);
  filter: none;
}

.item:hover .btn--primary, .item:hover .tag {
  background-color: var(--color-primary-400);
  color: white;
}

.item:hover .icon {
  margin-left: -.5rem;
}

.dropdown-content {
  transform-origin: right top;
  transform: scale(0);
  opacity: 0;
  transition: .3s ease;
}

.dropdown-content.open {
  opacity: 1;
  transform: scale(1);
}

.pagination-item.disabled {
  opacity: .3;
}

.pagination-item.active a,
.pagination-item a:hover {
  background-color: var(--color-primary-300);
}

.header-container-nav-trigger svg rect {
  transition: 300ms ease;
}

.header-container-nav-trigger.is-active {
  color: white;
}

.header-container-nav-trigger.is-active svg rect:nth-child(1) {
  transform: rotate(45deg) translateX(8px) translateY(-6px);
}

.header-container-nav-trigger.is-active svg rect:nth-child(2) {
  opacity: 0;
}

.header-container-nav-trigger.is-active svg rect:nth-child(3) {
  transform: rotate(-45deg) translateX(-15px) translateY(2px);
}

.header-container-nav-collapse.open {
  transform: translateX(0);
}

.header-container-nav-collapse-menu-item.is-active, .header-container-nav-collapse-menu-item:hover {
  color: white;
}

.section .swiper-button {
  margin-top: 0;
  width: 2rem;
  height: 2rem;
  color: inherit;
}

.section .swiper-button::after {
  display: none;
}

.section .swiper-navigation .swiper-button {
  position: static;
}

.section--headline .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.section--headline .swiper-pagination {
  display: flex;
  justify-content: start;
  align-items: center;
}

.section--headline .swiper-pagination-bullet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.3s;
  font-weight: 600;
  width: auto;
  height: auto;
  cursor: pointer;
}

.section--headline .swiper-pagination-bullet span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section--headline .swiper-pagination-bullet .progress {
  transform: rotate(-90deg);
}

.section--headline .swiper-pagination-bullet .progress .circle {
  fill: transparent;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
}

.section--headline .swiper-pagination-bullet .progress .circle-bg {
  stroke-dasharray: 2;
  opacity: 0;
}

.section--headline .swiper-pagination-bullet .progress .circle-origin {
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
}

.section--headline .swiper-pagination-bullet-active .progress .circle-bg {
  animation: circlelinebg 5s;
}

.section--headline .swiper-pagination-bullet-active .progress .circle-origin {
  animation: circleline 5s;
}

.section--headline .swiper-scrolldown-animate {
  animation: scrolldown 4s infinite 2s;
}

.section--gallery .swiper-slide {
  width: 310px;
}

.section--detail .section-container-tab-nav-item.active a,
.section--detail .section-container-tab-nav-item a:hover {
  background-color: var(--color-primary-900);
  color: white;
}

.section--detail .section-container-tab-content-item {
  display: none;
}

.section--detail .section-container-tab-content-item.open {
  display: block;
  animation: fadeIn 1s;
}

.section--detail .section-container-paragraph > * {
  margin-bottom: 2rem;
}

.section--detail .section-container-paragraph h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: normal;
}

.section--detail .section-container-paragraph figure img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  filter: saturate(0);
}

.section--detail .section-container-paragraph figure img:hover {
  filter: none;
}

.section--detail .section-container-paragraph figure figcaption {
  color: var(--color-primary-900);
  margin-top: .5rem;
}

.section--detail .section-container-paragraph .rundown-list li {
  position: relative;
}

.section--detail .section-container-paragraph .rundown-list li::after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: var(--color-primary-300);
  position: absolute;
  top: -.1rem;
  left: -1rem;
  border-radius: 50%;
}

.section--detail .section-container-paragraph .rundown-list li .icon {
  position: absolute;
  top: .3rem;
  left: -.6rem;
  z-index: 10;
}

.section--detail .section-container-paragraph .rundown-list li:nth-child(odd)::after {
  top: .4rem;
  width: 1rem;
  height: 1rem;
  left: -.5rem;
}

.section--detail .section-container-paragraph .rundown-list li:nth-child(odd) .icon {
  display: none;
}

.section--detail .section-container-photo .swiper-pagination {
  --swiper-pagination-color: #FC8649;
  --swiper-pagination-bullet-inactive-color: var(--color-primary-900);
  --swiper-pagination-bullet-inactive-opacity: 1;
  position: static;
  width: auto;
  display: flex;
  align-items: center;
}

.section--detail .section-container-photo .swiper-pagination-bullet-active {
  --swiper-pagination-bullet-width: 1rem;
  --swiper-pagination-bullet-height: 1rem;
  border: 0.25rem solid rgba(255, 180, 142, 0.5);
}

.section--contact #map {
  aspect-ratio: 16 / 9;
  min-height: 320px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.section--contact #map .leaflet-popup-tip-container {
  display: none;
}

.section--contact #map .leaflet-popup-content {
  margin: 0;
}

.section--contact #map .leaflet-popup-content a {
  font-family: var(--font-primary-2);
  font-weight: 600;
  color: RGB(var(--color-primary-900), 1);
  padding: .75rem;
  display: block;
}

@media (max-height: 480px), (min-width: 1536px) and (min-height: 720px) {
  .section--headline .swiper--headline .swiper-slide {
    height: 720px;
  }
}
